@media (min-width: 1401px)
{
    #modal{
        transform: translate(-100%, -50%);/*???????????*/
    }
}

@media (max-width: 1400px)
{
    :root
    {
        --section-width: 900px;
    }

    #email
    {
        font-size: 15px;
    }

    #contacts-grid-container
    {
        column-gap: 8%;
        padding: 0 2%;
    }

    #modal{
        transform: translate(-100%, -50%);/*???????????*/
    }

}

@media (max-width: 1020px)
{

    #modal{
        transform: translate(-50%, -50%);/*???????????*/
    }

    :root
    {
        --section-width: 600px;
        --header-height: 70px;
        --switch-width: 65px;
        --intro-bottom-height: 55px;
    }

    #header-show-menu
    {
        display: block;
    }

    #header-links
    {
        background-color: var(--light-orange-to-gray);
        display: grid;
        justify-items: center;
        position: absolute;
        row-gap: 26px;
        padding: 26px 0;
        transition: top 0.8s;
        left: 0;

        a {margin: 0;}
    }

    .menu-off{top: -250px;}
    .menu-on{top: 0 !important;}

    #header-grid-container
    {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    #section-intro
    {
        height: auto;
    }

    #intro-grid-container
    {
        display: flex;
        flex-flow: column;
        align-items: center;
        height: auto;
        padding: 2vh 0 100px;
        width: auto;
    }

    #intro-img
    {
        margin: 3vh 0;
    }

    #intro-name
    {
        font-size: 50px;
        margin-bottom: 4vh;
        width: auto;

        span{font-size: 35px;}
    }

    #intro-icons-container
    {
        display: flex;
        width: auto;
        margin-top: 4vh;
        column-gap: 140px;
    }

    #contacts-grid-container
    {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        width: calc(var(--section-width) - 10%);
        margin-bottom: 100px;
    }

    #modal{
        width: 60%;
    }

    /*devia ter colocado na classe o margin, agora fds*/

    #about-text
    {
        margin-bottom: 100px;
    }

    #skills-grid-container
    {
        row-gap: 30px;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 20px;
        margin-bottom: 100px;
    }

    #projects-grid-container
    {
        margin-bottom: 100px;
    }

    #form-flex-container
    {
        flex-flow: column;
        align-items: center;
    }

    #form-contacts-grid-container
    {
        width: 60%;
        margin-right: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    #form-body
    {
        height: fit-content;
        display: block;
    }

    #form-message
    {
        margin-left: 0;
        width: 100%;
    }

    form label
    {
        margin-left: 0px;
    }

    form input
    {
        width: 100%;
    }
}

@media (max-width: 820px)
{

    :root
    {
        --section-width: 400px;
        --intro-bottom-height: 50px;
    }

    .topic-title
    {
        font-size: 25px;
    }

    .topic-line
    {
        margin-bottom: 25px;
    }

    #about-text
    {
        font-size: 18px;
    }

    .skills-topics
    {
        font-size: 16px;
    }

    #projects-grid-container
    {
        margin-top: 30px;
    }

    .project-flex-header
    {
        a{font-size: 12px};
    }

    .contacts-icons
    {
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    .contacts-itens
    {
        width: 100%;
        border: solid 4px var(--light-orange-to-white);
        padding: 5px 10px;
    }

    .contacts-itens p 
    {
        font-size: 15px;
    }

    #modal{
        width: 70%;
    }

    #modal-text-container p{
        font-size: 14px;
    }

    #modal-imgs-container{
        margin-bottom: 15px;
        margin-top: 10px;
    }

    #modal-icon{
        font-size: 30px;
    }

    #form-contacts-grid-container
    {
        width: 80%;
    }
}

@media (max-width: 420px)
{

    :root
    {
        --section-width: 280px;
    }

    #intro-img
    {
        width: 200px;
    }

    #intro-name
    {
        font-size: 40px;

        span
        {
            font-size: 30px;
        }
    }

    #header-grid-container
    {
        padding: 0;
    }

    .topic-title
    {
        font-size: 18px;
    }

    .topic-line
    {
        margin-bottom: 15px;
    }

    #about-text
    {
        font-size: 12px;
    }

    .skills-topics
    {
        font-size: 13px;
    }

    #projects-grid-container
    {
        width: calc(var(--section-width) * 0.9);
    }

    .project-container
    {
        width: calc(var(--section-width) * 0.9);
    }

    .project-description
    {
        font-size: 15px;
    }

    .project-flex-footer
    {
        font-size: 16px;
    }

    #contacts-title
    {
        a 
        {
            font-size: 12px;
        }
    }

    .contacts-icons
    {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .contacts-itens
    {
        width: 100%;
        border: solid 2px var(--light-orange-to-white);
    }

    .contacts-itens p 
    {
        font-size: 12px;
    }

    #contacts-grid-container
    {
        width: var(--section-width);
    }

    #email /*fiz merda nessa tag*/
    {
        font-size: 12px;
    }

    footer p
    {
        font-size: 12px;
    }

    #modal-text-container p{
        font-size: 12px;
    }

    #form-contacts-grid-container
    {
        width: 100%;
    }

    form label
    {
        font-size: 17px;
        margin-right: 10px;
    }


    /*aaaaaaaaaa*/
    #contacts-grid-container{margin-bottom: 60px;}
    #about-text{margin-bottom: 60px;}
    #skills-grid-container{margin-bottom: 60px;}
    #projects-grid-container{margin-bottom: 60px;}
}